* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  background-color: #040d15;
}
a {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 0 30px;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  overflow: hidden;
}
span {
  position: absolute;
  background-color: #45ffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.2;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
